<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style1.css' />
</head>
<body>

<!--<% include template/header.ejs%>-->

<!--<p>Welcome to <%= title %></p>-->
<div id="wrapper">

    <div id="header">

        <div class="top_banner">
            <h1>HEALTH CARE</h1>
            <p>Be Happy</p>
        </div>

        <div class="navigation">
            <ul>
                <center>
                    <li><a href="/">Home</a></li>
                    <li><a href="diseases">Disease Description</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">Contact</a></li>
                </center>
            </ul>
        </div>

    </div>

    <div id="page_content" >

<!--        <div class="left_side_bar">

            <div class="col_1">
                <h1>Main Menu</h1>
                <div class="box">
                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </div>
            </div>-->


        </div>

        <div class="">
            <div class="common_content"></br></br></br>
                <center><h2><%= title %></h2></center>

                </br></br></br></br></br>
                <center><p style="font-size: 500%;">We want to be your most trusted ally in</p><br><br><br>
                        <p style="font-size: 500%;">your pursuit of health and well-being.</p></br><br>
                <hr>
                    </br></br></br><h2 style="color: white;">How you feel affects every precious day of your life. Healthline understands that, which is why we’re committed to being your most trusted ally in your pursuit of health and well-being.</h2>
                    </br></br></br><h2>You can depend on us to provide expert content along with genuine caring. Both of which will support, guide, and inspire you toward the best possible health outcomes for you and your family.</h2>
                    </br></br></br><h2>Bottom line: We’re human, just like you. We know that peace of mind can make all the difference in how you feel. So we’ll be here when you need us.</h2>
                </center>
            </div>

        </div>
    </br></br></br></br></br>

    <center><h1>MEET OUR TEAM</h1></center>
    </br><hr>
    </br></br></br></br>
    <center><h2>We value your trust above all else, so we’re proud to introduce you to Healthline’s editorial team: the people who ensure that everything Healthline publishes adheres to the highest standards for accuracy, integrity, and balance. We always have your best interests at heart and will work to provide you with highly relevant information that’s accessible, actionable, and authoritative.</h2></center>
    </br></br></br></br>
    <h2>ROHITH VUTNOOR</h2>
    </br></br>
    <h2>MUKESH MAMIDALA</h2>
        </br></br></br></br></br></br></br>
        <div class="clear"></div>

        <!--start footer from here-->
        <div id="footer">Copyright &copy; 2016. Design by <a href="" >Health Care Team</a><br>

            <a href=""><img src="images/footer.gif" class="copyright" alt=""></a></div>

        <!--/. end footer from here-->
    </div>

</div>

</body>
</html>
