<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style1.css' />
</head>
<body onload="loadDiseaseData(101)">

<!--<% include template/header.ejs%>-->


<!--<p>Welcome to <%= title %></p>-->
<div id="wrapper">

    <div id="header">

        <div class="top_banner">
            <h1>HEALTH CARE</h1>
            <p>Be Happy</p>
        </div>

        <div class="navigation">
            <ul>
                <center>
                    <li><a href="/">Home</a></li>
                    <li><a href="diseases">Disease Description</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">Contact</a></li>
                </center>
            </ul>
        </div>

    </div>

    <div id="page_content">

       <!-- <div class="left_side_bar">

            <div class="col_1">
                <h1>Main Menu</h1>
                <div class="box">
                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="">
            <div class="common_content">
                </br></br><center><h1><%=title%>&nbsp;US</h1></center></br>
                <hr></br></br></br></br></br>
                <div>
                    <h2>CBIT HEALTH CARE</h2></br></br></br>
                    <h3>Mailing Address</h3></br>
                    <h4>Gandipet, Hyderabad - 75 </h4>
                    <h4>Phone       : 215-281-2100</h4>
                    <h4>Email       : customerc@healthcare.com</h4>
                    <h4>Licensing   : licensing@healthcare.com</h4>


                </div>
            </div>

        </div>
        </br></br></br>
        </br></br></br></br></br></br></br>
        <div class="clear"></div>

        <!--start footer from here-->
        <div id="footer">Copyright &copy; 2016. Design by <a href="" >Health Care Team</a><br>

            <a href=""><img src="images/footer.gif" class="copyright" alt=""></a></div>

        <!--/. end footer from here-->
    </div>

</div>

</body>
</html>
