<!DOCTYPE html>
<html>
<head>
    <title>Boston</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src = "./../diseasesDesc.js"></script>
</head>
<body  onload="findData()">

<!--<% include template/header.ejs%>-->

<h1>MADGRAPH</h1>
<p>Welcome to <%= title %></p>

<h2 id="h22" >Hai</h2>
<ul>
    <% for(var i=0;i<5;i++){ %>
    <li>madguuy</li>
    <%}%>
</ul>
</br>

<h1 >Login</h1>
<a href = "ds" onmouseover = "change()">Google</a>


</body>
</html>
